@{
    Layout = "~/Views/Shared/_Index.cshtml";
 }
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        销售人：<input id="saleTxt" col="SaleTxt" type="text" />
                    </li>
                    <li class="select-time">
                        <label>创建时间： </label>
                        <input id="startTime" col="StartTime" type="text" class="time-input" placeholder="开始时间" />
                        <span>-</span>
                        <input id="endTime" col="EndTime" type="text" class="time-input" placeholder="结束时间" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
            <a id="btnPrint" class="btn btn-success" onclick="printForm()"><i class="fa fa-remove"></i> 打印</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd' });

        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/OrderManage/OrderTerIssue/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortName: 'SentDay',                     // 排序列名称
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'SaleTxt', title: '销售人' },
                { field: 'SaleNum', title: '数量' },
                { field: 'SalePrice', title: '售价' },
                { field: 'SrcPrice', title: '拿货价' },
                { field: 'TotalPrice', title: '销售总额' },
                { field: 'FactMoney', title: '实收额' },
                {
                    field: 'DiffPrice', title: '返佣',
                    formatter: function (value, row, index) {
                        //审核状态 0未审核,1:审核通过,2拒绝
                        if (value > 0) {
                            html = "<span class=\"red\">" + value+"</span>";
                        }
                        else  {
                            html = value;
                        }
                        return html;
                    }
                },
                { field: 'ShenHeManTxt', title: '审核人' },
                {
                    field: 'ShenHeStatus', title: '审核状态',
                    formatter: function (value, row, index) {
                        //审核状态 0未审核,1:审核通过,2拒绝
                        var html = "<span class=\"red\">拒绝</span>";
                        if (value == 0) {
                            html = "<span class=\"yellow\">未审核</span>";
                        }
                        else if (value == 1) {
                            html = "<span class=\"green\">审核通过</span>";
                        }
                        return html;
                    }
                },
                { field: 'SentManTxt', title: '售后' },
                {
                    field: 'Step', title: '流程步骤',
                    formatter: function (value, row, index) {
                        //步骤  0:草稿,1:财务审核,2:售后发货,3:流程结束
                        var html = "流程结束";
                        if (value == 0) {
                            html = "草稿";
                        }
                        else if (value == 1) {
                            html = "财务审核";
                        }
                        else if (value == 2) {
                            html = "售后发货";
                        }
                        return html;
                    }
                },
                {
                    field: 'TakeType', title: '提货方式'
                    ,
                    formatter: function (value, row, index) {
                        //提货方式 0:快递1:自提
                        var html = "自提";
                        if (value == 0) {
                            html = "快递";
                        }
                        return html;
                    }
                }, 
                { field: 'PrintOrderNumber', title: '打印单号' },
                { field: 'ExpressCompany', title: '快递公司' },
                { field: 'ExpressNumber', title: '快递单号' },
                { field: 'Remark', title: '说明' },
                
                {
                    field: 'SentDay', title: '发货日期', align: "left"
                   
                },
                {
                    field: 'BaseCreateTime', title: '补单时间', align: "left",
                    formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/OrderManage/OrderTerIssue/OrderTerIssueForm")' + '?id=' + id,
            width: '968px',
            //btn_es: ['存为草稿','提交', '关闭'],
            height: '580px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function printForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (!checkIsPrint(selectedRow)) {
            ys.msgError("包含已经打印的,不能二次打印,如果要打印请到【系统出货打印单】去重新打印");
            return;
        }
        if (ys.checkRowDelete(selectedRow)) {
            var ids = ys.getIds(selectedRow);
            ys.openDialog({
            title: '打印出货单',
            content: '@Url.Content("~/OrderManage/OrderTerIssue/OrderTerIssuePrint")' + '?ids=' + ids +"&isRePrint=0",
            width: '900px',
            btn_es: ['打印', '关闭'],
            height: '480px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
         });
        }
    }

    function checkIsPrint(selectedRow) {
        var isprint = true;

        for (var i = 0; i < selectedRow.length; i++) {
            var row = selectedRow[i];
            if (!IsNullEmpty(row.PrintOrderNumber)) {
                isprint = false;
                break;
            }
        }
        return isprint;
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            var ids = ys.getIds(selectedRow);
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
              
                ys.ajax({
                    url: '@Url.Content("~/OrderManage/OrderTerIssue/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>
