@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

<div class="row animated fadeInRight">
    <div class="ibox float-e-margins">
        <div id="ibox-content">
            <div id="vertical-timeline" class="vertical-container light-timeline">

              
            </div>
        </div>
    </div>
    <script>
        var id = ys.request("id");
        $(function () {
            LoadData();

        });

        function LoadData() {
            ys.ajax({
                url: '@Url.Content("~/TerManage/TerTransferRecord/GetListData")',
                type: 'get',
                data: { terid:id},
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var data = obj.Data;
                        CreateHtml(data);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
        function CreateHtml(data_array) {
            var html = [];
            for (var i = 0; i < data_array.length; i++) {
                var obj = data_array[i];
                html.push(" ");
                html.push(" <div class=\"vertical-timeline-block\"> ");
                html.push("     <div class=\"vertical-timeline-icon navy-bg\"> ");
                html.push("         <i class=\"fa fa-briefcase\"></i> ");
                html.push("     </div> ");

                html.push("     <div class=\"vertical-timeline-content\"> ");
                html.push("         <h2>" + obj.SendTxt+ "转让信息</h2> ");
                html.push("        <p> ");
                html.push("         " + obj.SendTxt + "把设备【" + obj.TerNumber + "】转让给 " + obj.ReceiverTxt+" ");
                html.push("        </p> ");
                html.push("       <span class=\"vertical-date\"> ");
                html.push("           日期 <br> ");
                html.push("               <small>" + ys.formatDate(obj.BaseCreateTime, "yyyy-MM-dd HH:mm:ss")+"</small> ");
                html.push("      </span> ");
                html.push("  </div> ");
                html.push("   </div> ");
            }
            $("#vertical-timeline").html(html.join(" "));
        }
    </script>
</div>