@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">

        <div class="tabs-container">

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-8">基本信息</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-9">状态信息</a>
                    </li>
                </ul>
                <div class="tab-content ">
                    <div id="tab-8" class="tab-pane active">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">设备名称<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="terName" col="TerName" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">设备编号</label>
                                <div class="col-sm-8">
                                    <input id="terNumber" col="TerNumber" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">设备部件</label>
                                <div class="col-sm-4">
                                    <div id="terParts" col="TerParts"></div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-3 control-label ">运营商</label>
                                <div class="col-sm-8">
                                    <input id="busyName" col="BusyName" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">联系方式</label>
                                <div class="col-sm-8">
                                    <input id="busyLink" col="BusyLink" type="text"  onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">关机密码</label>
                                <div class="col-sm-8">
                                    <input id="closePwd" col="ClosePwd" onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-3 control-label ">商户号</label>
                                <div class="col-sm-8">
                                    <input id="mchId" col="MchId" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-3 control-label ">商户名称</label>
                                <div class="col-sm-8">
                                    <input id="mchName" col="MchName" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-9" class="tab-pane">
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label ">累计使用水量</label>
                                <div class="col-sm-8">
                                    <input id="waterNum" col="WaterNum" type="text"  onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">累计使用时长</label>
                                <div class="col-sm-8">
                                    <input id="timeLen" col="TimeLen" type="text"  onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">当前网络信号</label>
                                <div class="col-sm-8">
                                    <input id="netSignal" col="NetSignal" type="text"  onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-3 control-label ">业主</label>
                                <div class="col-sm-8">
                                    <input id="manageId" col="ManageId" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">排放位置</label>
                                <div class="col-sm-8">
                                    <input id="position" col="Position" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">地球经度</label>
                                <div class="col-sm-8">
                                    <input id="longitude" col="Longitude" type="text"  onkeyup="this.value=CheckIsFormatNumber(this.value, 2)" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">地球纬度</label>
                                <div class="col-sm-8">
                                    <input id="latitude" col="Latitude" type="text"  onkeyup="this.value=CheckIsFormatNumber(this.value, 2)" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        getForm();
         $("#terParts").ysComboBox({
            url: '@Url.Content("~/TerManage/Parts/GetListJson")',
            //dataName: "Result",
            key: "PartCode",
            value: "PartName",
            class: "form-control",
             multiple: true,
         });
        //$("#terParts_select").attr("disabled", "disabled");

        $('#form').validate({
            rules: {
                terName: { required: true }
            }
        });

    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/TerManage/TerInfor/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $('#form').setWebControls(obj.Data);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/TerManage/TerInfor/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

