@{
    Layout = "~/Views/Shared/_Index.cshtml";
 }
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        客户：<input id="custName" col="CustName" type="text" />
                    </li>
                    <li>
                        联系人：<input id="linkName" col="LinkName" type="text" />
                    </li>
                    <li>
                        联系电话：<input id="linkPhone" col="LinkPhone" type="text" />
                    </li>
                    <li class="select-time">
                        <label>创建时间： </label>
                        <input id="startTime" col="StartTime" type="text" class="time-input" placeholder="开始时间" />
                        <span>-</span>
                        <input id="endTime" col="EndTime" type="text" class="time-input" placeholder="结束时间" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar" style="display:none">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
           
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd' });

        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/OrderManage/OrderPrintIssue/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'PrintOrderNumber', title: '打印单号' },
                { field: 'CustName', title: '客户名称' },
                { field: 'LinkName', title: '联系人' },
                { field: 'LinkPhone', title: '联系电话' },
                { field: 'PrintDay', title: '打印日期' },
                { field: 'OrderTerIssueIds', title: '出货订单id' },
                { field: 'BaseCreatorTxt', title: '创建人' },
                {
                    field: 'BaseCreateTime', title: '创建时间', align: "left",
                    formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
                {
                    field: '', title: '操作', align: "left",
                    formatter: function (value, row, index) {
                        var html = "<button type=\"button\" onclick=\"printForm('" + row.PrintOrderNumber +"')\" class=\"btn btn-w-m btn-info\">重新打印</button>";
                        return html;
                    }
                },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function printForm(ids) {
        ys.openDialog({
        title: '打印出货单',
        content: '@Url.Content("~/OrderManage/OrderTerIssue/OrderTerIssuePrint")' + '?ids=' + ids +"&isRePrint=1",
        width: '900px',
        btn_es: ['打印', '关闭'],
        height: '480px',
        callback: function (index, layero) {
            var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
        }
        });
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/OrderManage/OrderPrintIssue/OrderPrintIssueForm")' + '?id=' + id,
            width: '768px',
            height: '550px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/OrderManage/OrderPrintIssue/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>
