@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>进货单处理</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12" style="font-size:14px">
                                <p>
                                    puosen 普沃森（广州）科技有限公司秉承德国 puosen 普沃森净水世家品牌核心技术，是一家集研发、生产及销售于一体的高新科技企业。普沃森结合中国市场国情以及中国家庭消费观念潜心研发家用净水、洗涤、消毒、净化、去污设备，主要在智能家庭水净化器、厨房净化器、清水洗涤、清水消毒、能量小分子水、电解水等领域生产，主要产品有智能电解水机、清水洗涤宝、清水洗衣机、清水沐浴宝、清水马桶宝、清水厨房宝、自动洗鞋机、净水消毒机、智能水杯、智能补水仪、空气消毒净化设备、车载空气净化器等等一系列产品。被评为家用净化设备标杆企业和中国净化器十大品牌，广受代理商、加盟商、经销商和消费者的喜爱；普沃森经过前期三年的准备已成为拥有自主品牌和知识产权的专业研发生产销售为一体的综合性公司。普沃森愿与国内外各界朋友携手合作，互利共赢，一同为人类社会健康保驾护航！
                                </p>
                                <p>当前版本：@YiSha.Util.GlobalContext.GetVersion() &nbsp;&nbsp;<span class="label label-warning">¥免费开源</span></p>
                                <p></p>
                                <p>
                                    <a class="btn btn-success btn-outline" href="https://github.com/liukuo362573/YiShaAdmin" target="_blank">
                                        <i class="fa fa-github"> </i> 访问 github
                                    </a>
                                    <a class="btn btn-white btn-bitbucket" href="http://www.yishasoft.com" target="_blank">
                                        <i class="fa fa-home"></i> 访问主页
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>出货单处理</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content" style="font-size:14px">
                        <ul>
                            <li>1. 前端： Bootstrap 3.3.7</li>
                            <li>2. 核心框架：.Net Core MVC</li>
                            <li>3. 缓存层：Memory、Redis</li>
                            <li>4. 持久层框架：Entity Framework Core</li>
                            <li>5. 数据库支持：SqlServer,MySql,Oracle</li>
                            <li>6. 定时任务：Quartz.Net</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <i class="fa fa-send-o"></i> 官网：<a href="http://www.puosen.cn" target="_blank">http://www.puosen.cn</a>
                        </p>
                        <p>
                            <i class="fa fa-qq"></i> 电话：<s>020-31063596</s> 
                        </p>
                        <p>
                            <i class="fa fa-weixin"></i> 微信：<span>pu2sen</span>
                        </p>
                      
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>今日收益</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v310">v3.1.0</a><code class="pull-right">2020.02.20</code>
                                        </h5>
                                    </div>
                                    <div id="v310" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 框架由.NET Core 2.2升级到.NET Core 3.1</li>
                                                <li>2. 导入文件支持xlsx格式</li>
                                                <li>3. 菜单支持打开外部链接</li>
                                                <li>4. 修复读取cookie样式bug</li>
                                                <li>5. 部门和用户的数据权限修改，只能看到自己及以下</li>
                                                <li>6. 菜单新增或编辑之后，显示对应的数据</li>
                                                <li>7. 定时任务支持暂停和更新任务周期</li>
                                                <li>8. 数据库和实体之间映射约定修改</li>
                                                <li>9. 支持移动端</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v220">v2.2.0</a><code class="pull-right">2019.09.27</code>
                                        </h5>
                                    </div>
                                    <div id="v220" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 正式开源YiShaAdmin 2.2</li>
                                                <li>2. 代码自动生成的时候，根据配置，生成对应菜单</li>
                                                <li>3. 修复bootstrap tree table的expandFirst为true，tree展开的问题</li>
                                                <li>4. 修复头像上传报错</li>
                                                <li>5. 增加多个基类实体，根据业务按需继承</li>
                                                <li>6. 调整项目文件结构，使代码结构更加清晰</li>
                                                <li>7. 增加NUnit测试项目</li>
                                                <li>8. 增加常用的前端组件示例</li>
                                                <li>9. 增加用户导入示例</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>捐赠</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            请作者喝杯咖啡（点击图片放大）
                        </div>
                        <p id="pay-qrcode">
                            <a>
                                <img src="~/image/pay.png" width="100%" alt="请使用手机支付宝或者微信扫码支付" class="img-responsive">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {

        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });

        $('#pay-qrcode').click(function () {
            var html = $(this).html();
            ys.openDialogContent({
                content: html,
                width: '600px',
                height: '321px'
            });
        });

    });

</script>
